*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;   
    color: #fff;
}
html, body{
height: 100%;
width: 100%;
perspective: 800px;
}
#cursor{
    height: 20px;
    width: 20px;
    background-color: #42bcb3;
    position: fixed;
    z-index: 99;
    border-radius: 50%;
}
#cursor-blur{
    height: 300px;
    width: 300px;
    background-color: #42bcb460;
    position: fixed;
    filter: blur(40px);
    border-radius: 50%;
    z-index: 9;
}
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 150px;
    gap: 45px;
    position: fixed;
    z-index: 99;
}
#nav img{
    height: 30px;
}
#nav h4{
    font-weight: 500px;
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.45);
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}
#page1 h1{
    font-size: 70px;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    content: "CODE.SLEEP.CODE.";
    position : absolute;
    color: black;
    top: -3px;
    left: -3px;
    -webkit-text-stroke: 1px #42bcb3;
    z-index: -1;
}
#page1 h2{
    font-size: 20px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 5px;
}
#page1 p{
    font-size: 15px;
    font-weight: 400;
    width: 40%;
}
#page2 {
    height: 100vh;
    width: 100%;
    z-index: 10;
}
#scroller{
   /* background-color: red;*/
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;

}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4{
    display: inline-block;
    font-size: 90px;
    font-weight: 900px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 10px;
    color: transparent;
    -webkit-text-stroke: 2px #42bcb3;
    transition: all linear 0.5s;
}
#scroller h4:hover{
    color: #42bcb3;
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#card-container{
    /*background-color: blue;*/
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;
}
.card{
    height: 80%;
    width: 24%;
    /*background-color: red;*/
    border-radius: 15px;
    overflow: hidden;
    transition: all ease 0.6s;
}
#card1{
    background-image: url(https://images.pexels.com/photos/3861972/pexels-photo-3861972.jpeg?auto=compress&cs=tinysrgb&w=600);
}
#card2{
    background-image: url(https://images.pexels.com/photos/3052727/pexels-photo-3052727.jpeg?auto=compress&cs=tinysrgb&w=600);
}
#card3{
    background-image: url(https://images.pexels.com/photos/4526429/pexels-photo-4526429.jpeg?auto=compress&cs=tinysrgb&w=600);
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: #42bcb3;
    padding-top: 200px;
    padding: 30px;
    opacity: 0;
    transition: all ease 0.6s;
}
.overlay h4 {
    color: #09114f;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800px;
    white-space: nowrap;
    margin-bottom: 20px;

}
.overlay p{
    color: #09114f;
    font-size: 15px;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}
